/* navbar styles */

.navbar-link {
    float:none;
}

#icon-link {
    float:left;
}

#icon-link a img {
    width:100px;
    padding-bottom:35px;
    padding-top:5px;
}

nav ul {
    padding-bottom:10px;
    padding-top:10px;
}

/* general styles */

.card-container {
    display:block;
}

h1 {
    font-size:42px;
}

h2 {
    font-size:32px;
    padding-top:10px;
}

h3 {
    font-size:22px;
}

h4 {
    font-size:18px;
}

.homeDiv {
    padding:40px 0px 40px 0px;
    
}

img {
    max-width:100%;
}

p {
    font-size:14px;
    text-align:left;
}

main {
    padding:10px;
}

figure {
    margin:40px 0px 40px 0px;
}

figcaption {
    padding-left:10px;
}

.indepth-container {
    display:block;
}

.indepth-text {
    display:block;
    max-width:100%;
    width:auto;
}

.indepth-image {
    display:block;
    max-width:100%;
    width:auto;
}