/* Home Page Exclusive Styles */

#home1 {
    background-color:#cccccc;
    padding-bottom:80px;
}

#home2 {
    background-color:#ffffff;
}

#home3 {
    background-color:#cccccc;
    margin-bottom:100px;
}

.homeDiv {
    text-align:center;
    padding:40px 20px 40px 20px;
    color:black;
}

#title {
    padding:35px;
}

.card {
    background-color:#dddddd;
    color:#111111;
}

/* General Styles */

body {
    background-color:#2D395C;
    font-family: 'Lora', serif;
    padding:20px;
    color:#111111;
}

#main-header {
    background-color:#ddd;
    padding:20px;
}

main {
    padding:20px;
    background-color: #ffffff;
}

.content {
    background-color: #eee;
    padding:15px;
}

.itemList li {
    min-width:60%;
}

.funfact {
    font-style: italic;
    text-align: center;
}

.indepth-container {
    display:flex;
}

td {
    text-align:center;
    border:1px solid;
}

th {
    font-weight:bold;
}

.citation {
    font-size:9px;
    padding:0px;
    margin:0px;
    text-align:center;
}

/* button styles */

.fantasybtn {
    background:    #1E73BE;
    border-radius: 10px;
    padding:       20px 45px;
    color:         #dddddd;
    display:       inline-block;
    font:          normal bold 22px/1 "Open Sans", sans-serif;
    text-align:    center;
    text-decoration: none;
}

.fantasybtn:hover {
    color:#ffffff;
    text-decoration: none;
}

/* footer */

.footerIcon {
    max-width:100%;
    width:50px;
}

footer {
    background-color: #2D395C;
}

.footerA {
    color: #cccccc;
}

.footerA:hover {
    color: #eeeeee;
    font-weight:500;
}

/* navigation bar */

nav {
    background-color: #2D395C !important;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top:10px;
    font-size:20px;
}

.navbar-link {
    float:left;
    padding-left:6px;
    padding-right:6px
}

.navbar-link a {
    color:#cccccc !important;
    display:block;
    text-align:center;
    text-decoration:none;
}
.navbar-link a:hover{
    color:#ffffff !important;
    font-weight: 500;
}

/* indepth guide specific styles */

.indepth-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indepth-image {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indepth-image img {
    max-height:300px;
    width:auto;
}